
.inspector-list {
  display: none;
}

.on__machine-listing .machine-list {
  display: block;
}

.on__unit-listing .unit-list {
  display: block;
}

.on__error-listing .error-list {
  display: block;
}

.on__uncommitted-listing .uncommitted-list {
  display: block;
}

.on__pending-listing .pending-list {
  display: block;
}

.on__configure-listing .configure-list {
  display: block;
}

.on__relations-listing .relations-list {
  display: block;
}

.on__actions-listing .actions-list {
  display: block;
}

.on__backups-listing .backup-list {
  display: block;
}

.on__version-listing .version-list {
  display: block;
}


.animation--fade-in,
.animation--slide-in,
.animation--slide-out,
.animation--slide-up {
  .on__machine-listing .inspector__content {
    height: 230px;
  }

  .on__unit-listing .inspector__content {
    height: 552px;
  }

  .on__error-listing .inspector__content {
    height: 376px;
  }

  .on__uncommitted-listing .inspector__content {
    height: 220px;
  }

  .on__pending-listing .inspector__content {
    height: 220px;
  }

  .on__configure-listing .inspector__content {
    height: 815px;
  }

  .on__relations-listing .inspector__content {
    height: 357px;
  }

  .on__actions-listing .inspector__content {
    height: 348px;
  }

  .on__version-listing .inspector__content {
    height: 304px;
  }
}

/// State animations
/// Fade in

$stagger: true; // Adds a small delay concurrently down the list

$fade-in-duration: .1s; // The time taken from opacity 0 to 1
$fade-in-stagger-speed: .01s; // Delay before the next item starts to fade in

$slide-in-duration: .2s; // The time taken from slide in
$slide-in-stagger-speed: .03s; // Delay before the next item starts to slide in
$slide-in-distance: 300px; // Offset position to start transition

$slide-up-duration: .2s; // The time taken from slide in
$slide-up-stagger-speed: .03s; // Delay before the next item starts to slide in
$slide-up-distance: 30px; // Offset position to start transition

.animation--stagger {
  @for $i from 1 through 9 {
    .inspector-list__list li:nth-child(#{$i}) {
      animation-delay: $slide-in-stagger-speed * $i;
    }
  }
}

.animation--fade-in {
  .inspector-list__list-item,
  .inspector-list__wrapper,
  .inspector-list__list-item--tabbed,
  .inspector-list__list-item--heading,
  .inspector-list__footer {
    opacity: 0;
  }

  .on__unit-listing,
  .on__machine-listing,
  .on__error-listing,
  .on__pending-listing,
  .on__uncommitted-listing,
  .on__version-listing,
  .on__backups-listing,
  .on__actions-listing,
  .on__relations-listing,
  .on__configure-listing {
    .inspector-list__list-item,
    .inspector-list__wrapper,
    .inspector-list__list-item--tabbed,
    .inspector-list__list-item--heading,
    .inspector-list__footer {
      animation-duration: $fade-in-duration;
      animation-name: fadeIn;
      animation-fill-mode: forwards;
    }
  }
}

/// Slide in
.animation--slide-in,
.animation--slide-out {
  .inspector-list__list-item,
  .inspector-list__wrapper,
  .inspector-list__list-item--tabbed,
  .inspector-list__list-item--heading,
  .inspector-list__footer {
    transform: translateX($slide-in-distance);
    opacity: 0;
  }

  .on__unit-listing,
  .on__machine-listing,
  .on__error-listing,
  .on__pending-listing,
  .on__uncommitted-listing,
  .on__version-listing,
  .on__backups-listing,
  .on__actions-listing,
  .on__relations-listing,
  .on__configure-listing {
    .inspector-list__list-item,
    .inspector-list__wrapper,
    .inspector-list__list-item--tabbed,
    .inspector-list__list-item--heading,
    .inspector-list__footer {
      animation-duration: $slide-in-duration;
      animation-name: slideIn;
      animation-fill-mode: forwards;
    }
  }
}

.animation--slide-out {
  .on__unit-listing,
  .on__machine-listing,
  .on__error-listing,
  .on__pending-listing,
  .on__uncommitted-listing,
  .on__version-listing,
  .on__backups-listing,
  .on__actions-listing,
  .on__relations-listing,
  .on__configure-listing {
    .inspector-list__list-item,
    .inspector-list__wrapper,
    .inspector-list__list-item--tabbed,
    .inspector-list__list-item--heading,
    .inspector-list__footer {
      animation-name: slideOut;
    }
  }
}


/// Slide up
.animation--slide-up {
  .inspector-list__list-item,
  .inspector-list__wrapper,
  .inspector-list__list-item--tabbed,
  .inspector-list__list-item--heading,
  .inspector-list__footer {
    transform: translateY($slide-up-distance);
    opacity: 0;
  }

  .on__unit-listing,
  .on__machine-listing,
  .on__error-listing,
  .on__pending-listing,
  .on__uncommitted-listing,
  .on__version-listing,
  .on__backups-listing,
  .on__actions-listing,
  .on__relations-listing,
  .on__configure-listing {
    .inspector-list__list-item,
    .inspector-list__wrapper,
    .inspector-list__list-item--tabbed,
    .inspector-list__list-item--heading,
    .inspector-list__footer {
      animation-duration: $slide-up-duration;
      animation-name: slideUp;
      animation-fill-mode: forwards;
    }
  }
}

@keyframes slideIn {
  0% {
    display: none;
    opacity: 0;
    transform: translateX($slide-in-distance);
  }

  1% {
    display: block;
    opacity: 0;
    transform: translateX($slide-in-distance);
  }

  25% {
    opacity: 1;
  }

  100% {
    display: block;
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideOut {
  0% {
    display: none;
    opacity: 0;
    transform: translateX(-$slide-in-distance);
  }

  1% {
    display: block;
    opacity: 0;
    transform: translateX(-$slide-in-distance);
  }

  25% {
    opacity: 1;
  }

  100% {
    display: block;
    transform: translateX(0);
    opacity: 1;
  }
}


@keyframes slideUp {
  0% {
    display: none;
    opacity: 0;
    transform: translateY($slide-up-distance);
  }

  1% {
    display: block;
    opacity: 0;
    transform: translateY($slide-up-distance);
  }

  25% {
    opacity: 1;
  }

  100% {
    display: block;
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes fadeIn {
  0% {
    display: none;
    opacity: 0;
  }

  1% {
    display: block;
    opacity: 0;
  }

  100% {
    display: block;
    opacity: 1;
  }
}
