
.inspector-list {
  display: none;
}

.on__machine-listing {
  .machine-list {
    display: block;
  }
}

.on__unit-listing {
  .unit-list {
    display: block;
  }
}

.on__error-listing {
  .error-list {
    display: block;
  }
}

.on__uncommitted-listing {
  .uncommitted-list {
    display: block;
  }
}

.on__pending-listing {
  .pending-list {
    display: block;
  }
}


/// State animations
/// Fade in

$stagger: true; // Adds a small delay concurrently down the list

$fade-in-duration: .2s; // The time taken from opacity 0 to 1
$fade-in-stagger-speed: .03s; // Delay before the next item starts to fade in

$slide-in-duration: .2s; // The time taken from slide in
$slide-in-stagger-speed: .03s; // Delay before the next item starts to slide in
$slide-in-distance: -300px; // Offset position to start transition

$slide-up-duration: .2s; // The time taken from slide in
$slide-up-stagger-speed: .03s; // Delay before the next item starts to slide in
$slide-up-distance: 30px; // Offset position to start transition

.animation--stagger {
  @for $i from 1 through 9 {
    .inspector-list__list li:nth-child(#{$i}) {
      animation-delay: $slide-in-stagger-speed * $i;
    }
  }
}

.animation--fade-in {
  .inspector-list__list-item,
  .inspector-list__list-item--tabbed {
    opacity: 0;
  }

  .machine-list {
    .inspector-list__list-item {
      opacity: 1;
    }
  }

  .on__unit-listing,
  .on__error-listing,
  .on__pending-listing,
  .on__uncommitted-listing {
    .inspector-list__list-item,
    .inspector-list__list-item--tabbed {
      animation-duration: $fade-in-duration;
      animation-name: fadeIn;
      animation-fill-mode: forwards;
    }
  }
}

/// Slide in
.animation--slide-in {
  .inspector-list__list-item,
  .inspector-list__list-item--tabbed {
    transform: translateX($slide-in-distance);
    opacity: 0;
  }

  .machine-list {
    .inspector-list__list-item {
      transform: translateX(0);
      opacity: 1;
    }
  }

  .on__unit-listing,
  .on__error-listing,
  .on__pending-listing,
  .on__uncommitted-listing {
    .inspector-list__list-item,
    .inspector-list__list-item--tabbed {
      animation-duration: $slide-in-duration;
      animation-name: slideIn;
      animation-fill-mode: forwards;
    }
  }
}


/// Slide up
.animation--slide-up {
  .inspector-list__list-item,
  .inspector-list__list-item--tabbed {
    transform: translateY($slide-up-distance);
    opacity: 0;
  }

  .machine-list {
    .inspector-list__list-item {
      transform: translateY(0);
      opacity: 1;
    }
  }

  .on__unit-listing,
  .on__error-listing,
  .on__pending-listing,
  .on__uncommitted-listing {
    .inspector-list__list-item,
    .inspector-list__list-item--tabbed {
      animation-duration: $slide-up-duration;
      animation-name: slideUp;
      animation-fill-mode: forwards;
    }
  }
}

@keyframes slideIn {
  0% {
    display: none;
    opacity: 0;
    transform: translateX($slide-in-distance);
  }

  1% {
    display: block;
    opacity: 0;
    transform: translateX($slide-in-distance);
  }

  25% {
    opacity: 1;
  }

  100% {
    display: block;
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideUp {
  0% {
    display: none;
    opacity: 0;
    transform: translateY($slide-up-distance);
  }

  1% {
    display: block;
    opacity: 0;
    transform: translateY($slide-up-distance);
  }

  25% {
    opacity: 1;
  }

  100% {
    display: block;
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes fadeIn {
  0% {
    display: none;
    opacity: 0;
  }

  1% {
    display: block;
    opacity: 0;
  }

  100% {
    display: block;
    opacity: 1;
  }
}


