/// Import settings
@import 'global-settings';
@import 'modules/core';
@import 'modules/inspector';
@import 'modules/switcher';

/// Inspector listing
@import 'module/inspector-list';

/// Unit listing
@import 'module/unit-list';

/// Error listing
@import 'modules/error-list';

/// Animations
/*
.machine-list {
  max-height: 3000px;
}

.unit-list {
  transition: max-height .8s ease-in;
  max-height: 0;
  overflow: hidden;
}

.inspector__mask:hover {
  .unit-list {
    transition: max-height .8s ease-out;
    max-height: 3000px;
  }

  .machine-list {
    max-height: 0;
    overflow: hidden;
  }
}
*/


/// States
@import 'states';