
%proto-center {
  margin: 50px auto;
}

%box {
  background-color: $white;
  box-shadow: 0 1px 4.85px .15px rgba(0, 0, 0, .2);
  padding: 20px;
}

%notification {
  padding: 4px 8px;
  border-radius: 50%;
  float: right;
  color: $white;
  text-decoration: none;
  margin-left: 10px;
}

body {
  background-color: $light-grey;
  color: $cool-grey;
  font-family: Ubuntu;
  font-weight: 300;
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;

  h1 {
    font-weight: 300;
    margin: 0;
  }

  label,
  input {
    cursor: pointer;
  }

  input[type="text"] {
    font-family: Ubuntu;
    font-size: 0.875em;
    border-radius: 2px;
    border: 1px solid $mid-grey;
    padding: 5px 10px;
    width: 100%;
    box-sizing: border-box;

    + p,
    + input,
    + h3 {
      margin-top: 1em;
    }
  }

  p {
    font-size: 1em;
    line-height: 1.5;
    margin-top: 0;

    &.help-text {
      font-size: 0.875em;

      &--disabled {
        color: $mid-grey;
        font-size: 0.875em;
      }
    }
  }

  h2,
  h3 {
    font-size: 1em;
    font-weight: 300;
  }

  h3 {
    margin-top: 0;
  }

  a {
    color: $brand-color;
    text-decoration: none;
    word-break:     break-word;
    -webkit-hyphens: auto;
    -moz-hyphens:    auto;
    hyphens:         auto
  }
}

.is-hidden {
  display: none;
}

.right {
  float: right;
}
