
.error-list,
.pending-list,
.uncommitted-list {

  .inspector-list__header-back {
    text-decoration: none;
    display: inline;
    vertical-align: middle;
  }

  .inspector-list__header {
    padding: 10px 20px;
    border-bottom: 1px solid $mid-grey;
    color: $white;

    .inspector-list__header-title {
      display: inline;
      text-decoration: none;
      margin-left: 10px;
    }

    .inspector-list__header-count {
      float: right;
      text-decoration: none;
    }
  }

  .inspector-list__notify--error {
    position: relative;
    top: -5px;
  }
}

.inspector-list__footer-list {
  display: flex;
}

.inspector-list__footer-list-item {
  flex: auto;
  margin-right: 10px;

  &:last-of-type {
    margin-right: 0;
  }
}

.error-list .inspector-list__header {
  animation-duration: .2s;
  animation-name: colorFadeInError;
  animation-fill-mode: forwards;
}

.pending-list .inspector-list__header {
  animation-duration: .2s;
  animation-name: colorFadeInPending;
  animation-fill-mode: forwards;
}

.uncommitted-list .inspector-list__header {
  animation-duration: .2s;
  animation-name: colorFadeInUncommitted;
  animation-fill-mode: forwards;
}

@keyframes colorFadeInError {
  0% {
    background-color: lighten($error, 40%);
  }

  100% {
    background-color: $error;
  }
}

@keyframes colorFadeInPending {
  0% {
    background-color: lighten($pending, 40%);
  }

  100% {
    background-color: $pending;
  }
}

@keyframes colorFadeInUncommitted {
  0% {
    background-color: lighten($uncommitted, 40%);
  }

  100% {
    background-color: $uncommitted;
  }
}
