%input-error {
	background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16.000017 16.000017"><g transform="translate(-952 -196.362)" color="#000"><path overflow="visible" fill="none" d="M952 196.362h16v16h-16z"/><circle cx="960" cy="204.362" r="7.25" overflow="visible" fill="#df382c" stroke="#df382c" stroke-width="1.5" stroke-dashoffset=".8"/><path d="M957 201.362l6 6M963 201.362l-6 6" overflow="visible" fill="none" stroke="#fff" stroke-width="1.5" stroke-dashoffset=".8"/></g></svg>');
	background-position: 95% center;
	background-repeat: no-repeat;

	+ .error-message {
		display: block;
	}
}

.error-message {
	margin-top: -15px;
}

.error-message:after {
	background: $error;
	border-radius: 4px;
	display: block;
	padding: 10px;
	color: $white;
	position: relative;
	top: -12px;
}

.error-message:before {
	position: relative;
	top: -16px;
	left: 5px;
	width: 0;
	height: 0;
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	border-bottom: 5px solid $error;
}

input[type="text"],
input[type="number"] {
	&.has-error--number {
		@extend %input-error;

		+ .error-message:after {
			content: "This needs to be a number"
		}

		+ .error-message:before {
			content: "";
		}
	}

	&.has-error--string {
		@extend %input-error;

		+ .error-message:after {
			content: "This needs to contain a letter"
		}

		+ .error-message:before {
			content: "";
		}
	}

	&.has-error--empty {
		@extend %input-error;

		+ .error-message:after {
			content: "This field is empty"
		}

		+ .error-message:before {
			content: "";
		}
	}

	&.unsaved {
		background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16.000017 16.000017"><path d="M9 3.928q0 .935-.177 1.803-.156.846-.334 1.76.8-.446 1.58-.87.778-.422 1.69-.733l.134-.045.623 1.87-.178.066q-.89.334-1.78.445-.89.09-1.826.156.734.622 1.38 1.223.645.578 1.2 1.357l.112.156-1.624 1.134-.09-.133q-.533-.8-.934-1.58L8 8.89q-.4.846-.8 1.647-.38.78-.914 1.58l-.09.133-1.623-1.134.11-.156q.558-.78 1.203-1.357.645-.6 1.38-1.224-.935-.068-1.825-.157-.89-.11-1.78-.445l-.177-.067.623-1.868.133.045q.912.31 1.69.734.78.424 1.58.87-.178-.914-.356-1.76-.156-.867-.156-1.802V3.75H9v.178z" style="line-height:125%;-inkscape-font-specification:Ubuntu;text-align:center" font-size="22.251" font-family="Ubuntu" letter-spacing="0" word-spacing="0" text-anchor="middle" fill="#df382c"/><path color="#000" overflow="visible" fill="none" d="M0 0h16v16H0z"/></svg>');
		background-position: 95% center;
		background-repeat: no-repeat;
	}
}
