
.inspector-list__list,
.inspector-list__list--data {
  list-style: none;
  padding-left: 0;
  margin: 0;

  h3 {
    margin: 0;
  }
}

.inspector-list__check-box {
  position: relative;
  top: -1px;
  margin: 0 5px 0 0;
  border-radius: 4px;
  -webkit-appearance: button;
  background-color: $mid-grey;
  color: $white;
  overflow: hidden;
  width: 13px;
  height: 13px;
  outline: none;
  box-shadow: inset 0 1px 4.85px .15px rgba(0, 0, 0, .2);
  vertical-align: middle;

  &:after {
    content: '✓';
    font-size: 12px;
    position: relative;
    left: 2px;
    top: -1px;
    color: transparent;
  }

  &:checked {
    background-color: $success;
  }

  &:checked:after {
    color: $white;
  }
}

.inspector-list__list-item,
.inspector-list__list-item--tabbed,
.inspector-list__list-item--heading {
  padding: 10px 20px;

  &:hover {
    background-color: $light-grey;

    .machine-list__controls-list {
      opacity: 1;
    }
  }

  .inspector-list__image {
    width: 24px;
    height: 24px;
    display: inline;
    vertical-align: middle;
  }

  %inspector-list-name {
    display: inline;
    margin-left: 6px;
  }

  .inspector-list__name {
    @extend %inspector-list-name;
  }

  .inspector-list__name--sub {
    @extend %inspector-list-name;
    color: $warm-grey;
    line-height: 1.5;
    display: block;
    margin-top: 0;
    margin-bottom: 0;
  }

  .inspector-list__name-unit {
    color: $warm-grey;
  }

  .inspector-list__link {
    width: 100%;
    height: 100%;
    color: $cool-grey;
    text-decoration: none;
  }

  .inspector-list__controls-list {
    position: relative;
    top: 4px;
    list-style: none;
    padding-left: 0;
    float: right;

    .inspector-list__controls-list-item {
      transition: opacity .3s;
      opacity: 0;

      &.js__toggle--service-hide-1,
      &.js__toggle--service-hide-2,
      &.js__toggle--service-hide-3,
      &.js__toggle--service-hide-4,
      &.js__toggle--service-hide-5,
      &.js__toggle--highlight-hide-1,
      &.js__toggle--highlight-hide-2,
      &.js__toggle--highlight-hide-3,
      &.js__toggle--highlight-hide-4,
      &.js__toggle--highlight-hide-5 {
        opacity: 1;
      }
    }
  }

  .inspector-list__controls-list-item {
    display: inline;
    padding: 0 3px;

    .inspector-list__controls-list-image {
      opacity: .6;
    }

    &:hover .inspector-list__controls-list-image {
      opacity: 1;
    }
  }

  .inspector-list__notify--error {
    @extend %notification;
    background-color: $error;
  }

  .inspector-list__notify--uncommited {
    @extend %notification;
    background-color: $uncommitted;
  }

  .inspector-list__notify--pending {
    @extend %notification;
    background-color: $pending;
  }

  .inspector-list__notify--neutral {
    float: right;
  }
}

.inspector-list__list--data .inspector-list__list-item:hover {
  background-color: transparent;
}

.inspector-list__list-item--heading {
  border-top: 1px solid $mid-grey;

  &:first-of-type {
    border-top: 0;
    border-bottom: 1px solid $mid-grey;
  }
}

.inspector-list__list-item {
  padding: 10px 20px;

  svg {
    position: relative;
    top: 2px;
  }

  .inspector-list__upgrade-link,
  .inspector-list__link-next {
    float: right;
    display: none;
    position: relative;
    top: -3px;
  }

  &:hover {

    .inspector-list__upgrade-link,
    .inspector-list__link-next {
      display: block;
    }

    .inspector-list__controls-list-item {
      opacity: 1;
    }

    .inspector-list__list-item-image {
      fill: $cool-grey;
    }
  }
}

.inspector-list__list-item-image {
  transition: fill .3s;
}

.inspector-list__list-item--tabbed {
  padding: 10px 20px 10px 40px;
}

.inspector-list__header-back {
  display: inline;
  color: $header-link-color;
  vertical-align: middle;
  text-decoration: none;
}

.inspector-list__header {
  padding: 10px 20px;
  border-bottom: 1px solid $mid-grey;

  .inspector-list__header-back {
    position: relative;
    top: -1px;
  }

  .inspector-list__header-title {
    display: inline;
    margin-left: 10px;
  }

  .inspector-list__header-image {
    position: relative;
    top: -3px;
    width: 24px;
    height: 24px;
    float: right;
  }

  .inspector-list__header-edit {
    float: right;
    margin-right: 10px;

    &:hover path {
      fill: $cool-grey;
    }
  }
}

.inspector-list__footer {
  padding: 10px 20px;
}

.inspector-list__footer-list {
  list-style: none;
  padding-left: 0;
  margin: 0;
}

%list-button {
  transition: background .3s;
  border-radius: 2px;
  text-align: center;
  display: block;
  width: 100%;
  padding: 10px;
  color: $brand-color;
  border: 1px solid $mid-grey;
  background: $white;
  font-size: 16px;
  cursor: pointer;
  font-family: Ubuntu;
}

.inspector-list__footer-list-button {
  @extend %list-button;

  &:hover {
    background-color: $light-grey;
  }

  &--primary {
    @extend %list-button;
    background: $brand-color;
    color: $white;
    border: 1px solid $brand-color;

    &:hover {
      background-color: darken($brand-color, 10%);
    }
  }
}

.inspector-list__list-button {
  @extend %list-button;
  padding: 5px 10px;
  width: auto;
}

.inspector-list__footer-switch {
  position: relative;
  top: 10px;
  margin-left: 5px;
  cursor: pointer;
}

.unit-list {
  .inspector-list__footer.js__toggle--confirm {
    background: $white;
    box-shadow: 0 1px 4.95px .05px rgba(51, 51, 51, .2);
    transition: transform .3s;
    transform: translateY(-60px);

    &.is-hidden {
      transform: translateY(0);
    }
  }
}
