
.inner-wrapper {
  margin: 0 auto;
  max-width: $breakpoint-large;
}

.branding {
  @extend %box;

  .animation-tweaker {
    margin-top: 20px;
  }

  @media (min-width: 600px) {
    .animation-tweaker {
      margin-top: 0;
      float: right;
      position: relative;
      top: -40px;
    }
  }

  .animation-switcher {
    display: block;
    outline: none;
    font-family: Ubuntu;
    font-size: 18px;
    font-weight: 300;
    border: 0;
    background: 0;
  }

  .stagger-animation__check-box {
    margin: 10px 5px;
    border-radius: 4px;
    -webkit-appearance: button;
    background-color: $mid-grey;
    color: $white;
    overflow: hidden;
    width: 13px;
    height: 13px;
    outline: none;
    box-shadow: inset 0 1px 4.85px .15px rgba(0, 0, 0, .2);
    vertical-align: middle;

    &:after {
      content: '✓';
      font-size: 12px;
      position: relative;
      left: 2px;
      top: -1px;
      color: transparent;
    }

    &:checked {
      background-color: $brand-color;
    }

    &:checked:after {
      color: $white;
    }
  }
}

.inspector {
  @extend %proto-center;
  display: block;
  height: 600px;
  width: 295px;
}

.inspector__content {
  @extend %box;
  padding: 0;
  max-height: 100%;
  transition: height .2s;
}

.inspector-list__content {
  overflow: hidden;
  overflow-y: auto;
  max-height: 500px;
}

.inspector-list__wrapper {
  @extend %box;
  padding-bottom: 0;
  box-shadow: none;
}

.inspector__mask {
  overflow: hidden;
}
