
.inspector-list__list {
  list-style: none;
  padding-left: 0;
  margin: 0;
}

.inspector-list__list-item,
.inspector-list__list-item--tabbed,
.inspector-list__list-item--heading {
  padding: 10px 20px;

  &:hover {
    background-color: $light-grey;

    .machine-list__controls-list {
      opacity: 1;
    }
  }

  .inspector-list__image {
    width: 24px;
    height: 24px;
    display: inline;
    vertical-align: middle;
  }

  .inspector-list__name {
    display: inline;
    margin-left: 6px;
  }

  .inspector-list__name--sub {
    @extend .inspector-list__name;
    color: $warm_grey;
    line-height: 1.5;
    margin-left: 27px;
    display: block;
    margin-top: 0;
    margin-bottom: 0;
  }

  .inspector-list__name-unit {
    color: $warm_grey;
  }

  .inspector-list__link {
    display: block;
    width: 100%;
    height: 100%;
    color: $cool-grey;
    text-decoration: none;
  }

  .inspector-list__controls-list {
    transition: opacity .3s;
    opacity: 0;
    position: relative;
    top: 4px;
    list-style: none;
    padding-left: 0;
    float: right;
  }

  .inspector-list__controls-list-item {
    display: inline;
    padding: 0 3px;

    &:hover .inspector-list__controls-list-image {
      fill: $warm-grey;
    }
  }

  .inspector-list__notify--error {
    @extend %notification;
    background-color: $error;
  }

  .inspector-list__notify--uncommited {
    @extend %notification;
    background-color: $uncommitted;
  }

  .inspector-list__notify--pending {
    @extend %notification;
    background-color: $pending;
  }

  .inspector-list__notify--neutral {
    float: right;
  }
}

.inspector-list__list-item--heading {
  border-bottom: 1px solid $mid-grey;
  border-top: 1px solid $mid-grey;

  &:first-of-type {
    border-top: 0;
  }
}

.inspector-list__list-item {
  padding: 10px 20px;

  svg {
    position: relative;
    top: 2px;
  }

  .inspector-list__upgrade-link,
  .inspector-list__link-next {
    float: right;
    display: none;
  }

  &:hover {

    .inspector-list__upgrade-link,
    .inspector-list__link-next {
      display: block;
    }

    .inspector-list__controls-list {
      opacity: 1;
    }

    .inspector-list__list-item-image {
      fill: $cool-grey;
    }
  }
}

.inspector-list__list-item-image {
  transition: fill .3s;
}

.inspector-list__list-item--tabbed {
  padding: 10px 20px 10px 40px;
}

.inspector-list__header-back {
  display: inline;
  color: $header-link-color;
  vertical-align: middle;
  text-decoration: none;
}

.inspector-list__header {
  padding: 10px 20px;
  border-bottom: 1px solid $mid-grey;

  .inspector-list__header-back {
    position: relative;
    top: -1px;
  }

  .inspector-list__header-title {
    display: inline;
    margin-left: 10px;
  }

  .inspector-list__header-image {
    position: relative;
    top: -3px;
    width: 24px;
    height: 24px;
    float: right;
  }

  .inspector-list__header-edit {
    float: right;
    margin-right: 10px;

    &:hover path {
      fill: $cool-grey;
    }
  }
}

.inspector-list__footer {
  padding: 10px 20px;
}

.inspector-list__footer-list {
  list-style: none;
  padding-left: 0;
  margin: 0;
}


.inspector-list__footer-list-button {
  transition: background .3s;
  border-radius: 2px;
  text-align: center;
  display: block;
  width: 100%;
  padding: 10px;
  color: $brand-color;
  border: 1px solid $mid-grey;
  background: $white;
  font-size: 16px;
  cursor: pointer;
  font-family: Ubuntu;

  &:hover {
    background-color: $light-grey;
  }

  &--primary {
    @extend .inspector-list__footer-list-button;
    background: $brand-color;
    color: $white;
    border: 1px solid $brand-color;

    &:hover {
      background-color: darken($brand-color, 10%);
    }
  }
}

.inspector-list__footer-switch {
  position: relative;
  top: 10px;
  margin-left: 5px;
  cursor: pointer;
}
